<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TEST">
	<select id="getUserList" resultType="TestModel">
		select name
		     , tel
		     , addr 
		from TEST
	</select>
	<select id="getFruitList" resultType="java.util.Map">
		select name
		     , color
		     , size
		from FRUIT
	</select>
	<insert id="addUser" parameterType="TestModel">
		insert into TEST (name
						, tel
						, addr)
				values (#{name}
						,#{tel}
						,#{addr})
	</insert>
</mapper>

